<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "app.avtolife73.su"
    versionCode = "10"
    version     = "1.1.0">

<name>ТЕСТ. AVTOLIFE</name>

<description>
    Прилжения для покупок запчастей в AVTOLIFE
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name="android-targetSdkVersion" value="28" />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#FFE600" />


<platform name="android">
    <icon src="res/android/icon/7916316203d4c529f7c3293af557082a.png" density="ldpi" />
    <icon src="res/android/icon/460385a2fab01df74d98e91d4b079d4d.png" density="mdpi" />
    <icon src="res/android/icon/c9e63a71321b01020dec2f27965d5304.png" density="hdpi" />
    <icon src="res/android/icon/1d8fce30c5b6ab767c00ff3471365404.png" density="xhdpi" />
    <icon src="res/android/icon/289ec5180509aced8188628cbfdd094f.png" density="xxhdpi" />
    <icon src="res/android/icon/79a31b919cc99c5945e3a5414e165956.png" density="xxxhdpi" />

    <splash src="res/android/screen/485caec9c86640dcdc79ac0c98974ae4.png" density="port-hdpi"/>
    <splash src="res/android/screen/65ddf627a18d681fc7bcea957bf41765.png" density="port-ldpi"/>
    <splash src="res/android/screen/f7d4cbc371fc47f8a050ade6cc5e4eaf.png" density="port-mdpi"/>
    <splash src="res/android/screen/fa165e34e0cbffd8b5317a094863c08b.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/5736b75f155cc5a44597da3677e58e30.png" width="180" height="180" />
	<icon src="res/ios/icon/e7bb6c60d86b5a0f056be25c07ad8246.png" width="60" height="60" />
	<icon src="res/ios/icon/c8ef5e6c81908fa9d9f03e0de2716507.png" width="120" height="120" />
	<icon src="res/ios/icon/ff59038f7b9fac1dd9f28923d738cafd.png" width="76" height="76" />
	<icon src="res/ios/icon/81da4990dc9a3a71a94d012a5ba35c4f.png" width="152" height="152" />
	<icon src="res/ios/icon/d48b1af68d1c1c2477a76f80ed2eb8f6.png" width="57" height="57" />
	<icon src="res/ios/icon/ead73e482c51cfa61d7a3752978e113b.png" width="114" height="114" />
	<icon src="res/ios/icon/77cb80717e99639bcb410ff499a69aed.png" width="72" height="72" />
	<icon src="res/ios/icon/8a3ff1cecbd8dbc8a111a47e8527339c.png" width="144" height="144" />
	<icon src="res/ios/icon/32e0903f7dee288e6856152d2877284e.png" width="167" height="167" />
	<icon src="res/ios/icon/c425ed63c680d91e22f098cec8624795.png" width="29" height="29" />
	<icon src="res/ios/icon/ae5166eb6660e46142dbe0b4d74b5bab.png" width="58" height="58" />
	<icon src="res/ios/icon/f017210f5f59d84b4f8daf182c655092.png" width="87" height="87" />
	<icon src="res/ios/icon/301a8aebc59856f52eb28182d6dbca41.png" width="167" height="167" />

	<splash src="res/ios/screen/df6855714aa478e7b319035de5287b72.png" />
    <splash src="res/ios/screen/ceb06a0815fe18a5c84ce9bea87e9c9d.png" />
    <splash src="res/ios/screen/f0a7c09d16eb9c1eef742a56d37fcd43.png" />
    <splash src="res/ios/screen/a8b591b5e8a216ffa37058949148b97e.png" />
    <splash src="res/ios/screen/2d55b09d21d55ac83e85f547edde4b07.png" />
    <splash src="res/ios/screen/4c01966509c873014883b345433ed40b.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/5a4ddfd7c2b18d62dca9ba21e6fc016d.png" target="StoreLogo" />
    <icon src="res/windows/icon/1a41b2d6462dc60430d6d7f5e6343f09.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/36efde657f09642194796a65be7af623.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/547e2bb6b854bb5740b3434ffa41106d.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/164441a503a2e9821c49ee3b450031fe.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/326dbfe784541f41def12a74bb72d031.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/c258b2c37753c9d34712948d034883aa.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/3128440e2e2a599b384398df80993877.png" target="SplashScreen"/>
    <splash src="res/windows/screen/caf417b6d9805576eab0e186ef79f8a4.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>